@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  background-color: white;
  color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}



body {
  margin: auto;
  padding: 0;
  max-width: 1000px;
  min-height: 100vh;
  text-align: center;
}
